{% extends 'base.html' %}

{% block title %}MSS - Início{% endblock %}
{% load static %}


{% block content %}
<div class="d-flex flex-column">
    <div class="px-4 pt-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Sistema de Gerenciamento MSS</h1>
    </div>

<div class="container px-4 pb-5 pt-4" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 align-items-stretch g-4 py-3">
        
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{% static 'images/estoque.jpg' %}'); background-size: cover; background-position: center;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Estoque Total</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <i class="bi bi-boxes fs-2"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="{% url 'inventory:total_stock_list' %}" class="btn btn-outline-light">Consultar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{% static 'images/fluxo.jpg' %}'); background-size: cover; background-position: center;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Fluxo de Estoque</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <i class="bi bi-arrow-left-right fs-2"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="{% url 'inventory:inventory_flow' %}" class="btn btn-outline-light">Registrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{% static 'images/marcacao.jpg' %}'); background-size: cover; background-position: center;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Marcações</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <i class="bi bi-card-checklist fs-2"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="{% url 'services:services_list' %}" class="btn btn-outline-light">Acessar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{% static 'images/financeiro.webp' %}'); background-size: cover; background-position: center;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Gestão de Cobranças</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <i class="bi bi-cash-coin fs-2"></i>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="#" class="btn btn-outline-light">Ver Cobranças</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

    </div>
</div>
</div>
{% endblock %}