<div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination justify-content-center my-0">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1&{{ current_filters }}">&laquo; Primeira</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ current_filters }}">Anterior</a></li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ current_filters }}">Próxima</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ current_filters }}">Última &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>